@{
    ViewData["Title"] = "Welcome";
}

<h1>Welcome to Threax.Home</h1>
<p>This is the welcome page for Threax.Home.</p>

<div data-hr-controller="buttons">
    <div data-hr-view="mainButtons">
        <template>
            <div class="col-md-4 col-sm-6">
                <h2>{{data.label}}</h2>

                <div class="load-outer">
                    <div class="ball-pulse load-inner" data-lightswitch-loading>
                        <div class="loader">
                            <div class="ball"></div>
                        </div>
                    </div>
                    <img src="~/Images/bulb.png" data-lightswitch-status class="bulbShadow load-inner" style="display:none;" />
                </div>

                {{for i in data.buttonStates}}
                <button value="{{i.buttonStateId}}" data-hr-on-click="pressButton" class="btn btn-default">{{i.label}}</button>
                {{/for}}
            </div>
        </template>
    </div>
</div>