@{
    ViewData["Title"] = "Welcome";
}

<div data-hr-controller="buttons" class="row">
    <div data-hr-view="mainButtons">
        <template>
            <div class="col-md-4 col-sm-6">
                <h2>{{data.label}}</h2>

                <div class="load-outer">
                    <div class="ball-pulse load-inner" data-hr-toggle="load" data-hr-style-off="display:none;">
                        <div class="loader">
                            <div class="ball"></div>
                        </div>
                    </div>
                    <img src="~/Images/bulb.png" data-hr-toggle="main" class="bulbShadow load-inner startHidden" data-hr-style-on="display:block;" data-hr-handle="bulbcolor"/>
                </div>

                <div class="startHidden" data-hr-toggle="error">An error occured.</div>

                {{for i in data.buttonStates}}
                <button value="{{i.buttonStateId}}" data-hr-on-click="pressButton" class="btn btn-default">{{i.label}}</button>
                {{/for}}
            </div>
        </template>
    </div>
</div>

<div data-hr-controller="thermostats">
    <div data-hr-view="main">
        <template>
            <h1>Thermostat</h1>
            <div style="margin-top:1em;">
                <div data-hr-toggle="main" class="startHidden" data-hr-style-on="display:block;">
                    <div class="row">
                        <div data-hr-view="presets" class="col-md-4 col-sm-6">
                            <template>
                                <button class="btn btn-default" data-hr-on-click="apply" style="margin-right:3px;">{{data.label}}</button>
                            </template>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="row" style="font-size:45px;" data-hr-toggle="currentTemp">
                                <div class="col-sm-9" data-hr-view="currentTemp">
                                    <template>
                                        {{if isOff}}
                                        Off 
                                        {{/if}}
                                        {{spaceTemp}}&deg; {{humidity}}%
                                    </template>
                                </div>
                            </div>

                            <form data-hr-form="tempForm" class="form-horizontal" data-hr-form-component="hr.forms.horizontal" data-hr-on-submit="changeTemp">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6">
                                        <label>Cool</label>
                                        <select class="form-control" name="coolTemp"></select>
                                    </div>
                                    <div class="col-xs-6 col-sm-6">
                                        <label>Heat</label>
                                        <select class="form-control" name="heatTemp"></select>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:2em;">
                                    <div class="col-sm-9">
                                        <button class="btn btn-default" data-hr-on-click="apply" value="submit" style="margin-right:5px;">Apply</button>
                                        <img src="~/Images/heaton.png" data-hr-toggle="heating" class="startHidden" data-hr-style-on="display:inline;" />
                                        <img src="~/Images/coolingon.png" data-hr-toggle="cooling" class="startHidden" data-hr-style-on="display:inline;" />
                                        <img src="~/Images/hvacoff.png" data-hr-toggle="off" class="startHidden" data-hr-style-on="display:inline;" />
                                        <img src="~/Images/fanon.png" data-hr-toggle="fanon" class="startHidden" data-hr-style-on="display:inline;" />
                                        <img src="~/Images/fanoff.png" data-hr-toggle="fanoff" class="startHidden" data-hr-style-on="display:inline;" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="ball-pulse" data-hr-toggle="load" data-hr-style-off="display:none;">
                    <div class="loader">
                        <div class="ball"></div>
                    </div>
                </div>
            </div>
        </template>
    </div>
</div>
