$brand-app: rgb(51, 102, 153);

.btn-control {
    font-size: 14px;
    height: 45px;
}

.itemHeader {
    font-weight: normal;
}

.fillLoaderParent {
    position: relative;
}

.fillLoader {
    height: 100%;
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #222;
}

.bulbShadow {
    background-image: url('/Images/bulb_shadow.png?v=1');
}

.fan {
    background-image: url('/Images/fanoff.png?v=1');
    width: 64px;
    height: 64px;
    /* The animation part: */
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.fan-off {
    /* The animation part: */
    animation-name: initial;
    animation-duration: initial;
    animation-iteration-count: initial;
    animation-timing-function: initial;
}

.fan-low {
    animation-duration: 12000ms;
}

.fan-med {
    animation-duration: 10000ms;
    background-image: url('/Images/fanmed.png?v=1');
}

.fan-high {
    animation-duration: 8000ms;
    background-image: url('/Images/fanon.png?v=1');
}

.fan-load {
    width: 64px;
    height: 64px;
    background-image: url('/Images/loading.gif?v=1');
    /* The animation part: */
    animation-name: initial;
    animation-duration: initial;
    animation-iteration-count: initial;
    animation-timing-function: initial;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


/* ball-pulse is from (http://fareco.github.io/css-loader)/*/
.ball-pulse .loader {
    width: 100px;
    height: 100px;
}

.ball-pulse .ball {
    margin: 25% 0 0 25%;
    width: 50%;
    height: 50%;
    background-color: #FFF;
    border-radius: 50%;
    animation: ballPulse 2s ease-in-out infinite;
}

@keyframes ballPulse {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.ball-pulse .ball {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

.load-outer {
    width: 64px;
    height: 64px;
    float: left;
}

.load-inner {
    position: absolute;
    left: 0px;
}

img.load-inner {
    left: 10px;
}

div.load-inner {
    left: -9px;
}

.thermostat-main {
    min-height: 331px;
}

.thermostat-text {
    font-size: 45px;
}

.thermostat-preset-button {
    margin-right: 3px;
}

.thermostat-apply-button {
    margin-right: 5px;
}

.fan-block {
    position: absolute;
    left: 8px;
}