@brand-app: rgb(51, 102, 153);

.bulbShadow {
    background-image: url('/Images/bulb_shadow.png');
}

.fan {
    vertical-align: middle;
    display: inline-block;
    background-image: url('/Images/fanoff.png');
    margin: 5px;
    width: 64px;
    height: 64px;
    //background: #f00;
    /* The animation part: */
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.fan-off {
    /* The animation part: */
    animation-name: initial;
    animation-duration: initial;
    animation-iteration-count: initial;
    animation-timing-function: initial;
}

.fan-low {
    animation-duration: 12000ms;
}

.fan-med {
    animation-duration: 10000ms;
    background-image: url('/Images/fanmed.png');
}

.fan-high {
    animation-duration: 8000ms;
    background-image: url('/Images/fanon.png');
}

.fan-load {
    width: 64px;
    height: 64px;
    background-image: url('/Images/loading.gif');
    /* The animation part: */
    animation-name: initial;
    animation-duration: initial;
    animation-iteration-count: initial;
    animation-timing-function: initial;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


/* ball-pulse is from (http://fareco.github.io/css-loader)/*/
.ball-pulse .loader {
    width: 100px;
    height: 100px;
}

.ball-pulse .ball {
    margin: 25% 0 0 25%;
    width: 50%;
    height: 50%;
    background-color: #FFF;
    border-radius: 50%;
    animation: ballPulse 2s ease-in-out infinite;
}

@keyframes ballPulse {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.ball-pulse .ball {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

.load-outer {
    width: 64px;
    height: 64px;
    float: left;
}

.load-inner {
    position: absolute;
    left: 0px;
}

img.load-inner {
    left: 10px;
}

div.load-inner {
    left: -9px;
}